<div class="col-sm-4">
    <div class="card">
      <div class="image">
        <img src="http://loremflickr.com/320/150?random=4" />
      </div>
      <div class="card-inner">
        <div class="header">
          <h2>Title</h2>
          <h3>Sub-Head</h2>
      </div>
      <div class="content">
        <p>Content area</p>
      </div>
        </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="image">
        <img src="http://loremflickr.com/320/150?random=5" />
      </div>
      <div class="card-inner">
        <div class="header">
          <h2>Title</h2>
          <h3>Sub-Head</h2>
      </div>
      <div class="content">
        <p>Content area</p>
      </div>
        </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="image">
        <img src="http://loremflickr.com/320/150?random=6" />
      </div>
      <div class="card-inner">
        <div class="header">
          <h2>Title</h2>
          <h3>Sub-Head</h2>
      </div>
      <div class="content">
        <p>Content area</p>
      </div>
        </div>
    </div>
  </div><div class="col-sm-4">
    <div class="card">
      <div class="image">
        <img src="http://loremflickr.com/320/150?random=2" />
      </div>
      <div class="card-inner">
        <div class="header">
          <h2>Title</h2>
          <h3>Sub-Head</h2>
      </div>
      <div class="content">
        <p>Content area</p>
      </div>
        </div>
    </div>
  </div><div class="col-sm-4">
    <div class="card">
      <div class="image">
        <img src="http://loremflickr.com/320/150?random=3" />
      </div>
      <div class="card-inner">
        <div class="header">
          <h2>Title</h2>
          <h3>Sub-Head</h2>
      </div>
      <div class="content">
        <p>Content area</p>
      </div>
        </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="image">
        <img src="http://loremflickr.com/320/150" />
      </div>
      <div class="card-inner">
        <div class="header">
          <h2>Title</h2>
          <h3>Sub-Head</h2>
      </div>
      <div class="content">
        <p>Content area</p>
      </div>
        </div>
    </div>
  </div>